<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176433626-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-176433626-1');
    </script>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Generate PDF files from HTML Content.">
    <meta name="keywords"
          content="PDF Generation API,PDF API, PDF Generate,HTML to PDF, URL to PDF">
    <meta name="author" content="Naveen Alavilli. connect@naveenalavilli.dev">
    <meta http-equiv="Cache-control" content="public">

    <title>PDFit - generate PDFs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>PDFit<small class="font-italic text-muted"> Generate PDFs from HTML.</small></h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>              
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="sticky-footer" class="font-small mt-2" style="width:100%">

        <div class="" style="background-color: #254E58;width: 100%">


            <div class="footer-copyright py-3" style="background-color: #254E58">


                <div class="row text-center">
                    <div class="col">
                        <a class="fb-ic" href="https://www.linkedin.com/in/alavilli/" target="_blank">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-3"></i>
                        </a>

                        <a class="tw-ic" href="https://twitter.com/nkalavilli" target="_blank">
                            <i class="fab fa-twitter fa-lg white-text mr-3"> </i>
                        </a>
                    </div>
                    <div class="col" title="Landmark">
                        <a href="mailto:connect@naveenalavilli.dev" class="text-light font-weight-bold">
                            connect@naveenalavilli.dev
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
