@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                PDF from HTML Text
            </div>
            <div class="card-body">
                <h5 class="card-title">https://pdfit.azurewebsites.net/GetPdfFromHTML</h5>
                <p class="card-text">Convert a HTML text to PDF Document</p>
                <p>
                    <script src="https://gist.github.com/naveenalavilli/f3314ad4c94d5f2c312e14057d717b40.js"></script>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                PDF from Webpage URL
            </div>
            <div class="card-body">
                <h5 class="card-title">https://pdfit.azurewebsites.net/GetPDFfromURL</h5>
                <p class="card-text">Convert a webpage from URL to a PDF document.</p>
                <p>
                    <script src="https://gist.github.com/naveenalavilli/1a4d1974352f475716b4dad7aef906ba.js"></script>
                </p>
            </div>
        </div>
    </div>
</div>