@{
    ViewData["Title"] = "Home Page";
}

    <blockquote class="blockquote text-center mb-3">
        <p class="mb-0">Convert your HTML content to PDFs, by utilising these RESTful APIs.</p>
    </blockquote>


<div class="card m-3">
    <div class="card-header">
        PDF from HTML Text
    </div>
    <div class="card-body">

        <div class="row justify-content-between">
            <div class="col-md-4 ml-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-muted">
                            host:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            pdfit.azurewebsites.net
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">
                            schemes:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            https
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">
                            paths:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            GetPdfFromHTML
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">
                            parameters:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            - in : body
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            HTMLText :
                        </span>
                        <span class="ml-2 font-italic">
                            [html Text]
                        </span>
                    </li>
                </ul>


            </div>
            <div class="col">


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" id="csharp-tab" data-toggle="tab" href="#csharp" role="tab" aria-controls="csharp" aria-selected="false">C#</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" id="python-tab" data-toggle="tab" href="#python" role="tab" aria-controls="Python" aria-selected="false">Python</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="Curl" aria-selected="true">Curl</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active" id="csharp" role="tabpanel" aria-labelledby="charp-tab">
                        <script src="https://gist.github.com/naveenalavilli/f3314ad4c94d5f2c312e14057d717b40.js"></script>
                    </div>

                    <div class="tab-pane fade" id="python" role="tabpanel" aria-labelledby="python-tab">
                        Python code
                    </div>
                    <div class="tab-pane fade" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                        <script src="https://gist.github.com/naveenalavilli/67ba7e58de90adbc1b178dd60a5988e1.js"></script>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<div class="card m-3">
    <div class="card-header">
        PDF from Webpage URL
    </div>
    <div class="card-body">

        <div class="row justify-content-between">

            <div class="col-md-4 ml-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-muted">
                            host:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            pdfit.azurewebsites.net
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">
                            schemes:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            https
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">
                            paths:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            GetPDFfromURL
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted">
                            parameters:
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            - in : body
                        </span>
                        <br />
                        <span class="ml-5 font-weight-bold">
                            URL :
                        </span>
                        <span class="ml-2 font-italic">
                            [URL]
                        </span>
                    </li>
                </ul>


            </div>


            <div class="col">


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" id="csharp2-tab" data-toggle="tab" href="#csharp2" role="tab" aria-controls="csharp2" aria-selected="false">C#</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" id="python2-tab" data-toggle="tab" href="#python2" role="tab" aria-controls="Python2" aria-selected="false">Python</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" id="curl2-tab" data-toggle="tab" href="#curl2" role="tab" aria-controls="Curl2" aria-selected="true">Curl</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active" id="csharp2" role="tabpanel" aria-labelledby="charp2-tab">
                        <script src="https://gist.github.com/naveenalavilli/1a4d1974352f475716b4dad7aef906ba.js"></script>
                    </div>

                    <div class="tab-pane fade" id="python2" role="tabpanel" aria-labelledby="python2-tab">
                        Python code
                    </div>
                    <div class="tab-pane fade" id="curl2" role="tabpanel" aria-labelledby="curl2-tab">
                        <script src="https://gist.github.com/naveenalavilli/3a0bdccb01c7c0d84bdf0e3bc17e98d7.js"></script>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

